
#about {
    background: var(--bgblack);
    color: var(--textwhite);
    
    padding :  3rem 2rem ;
    padding-right: 3.5rem;
}
.title {
    font-size: 2.3rem;
    font-weight: 600;
}
.abouttitle {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem ;
    margin-top: 4.5rem ;
}
.colo {
    color: var(--themecolor);
}
.detailsec {
    display: flex;
    margin: 2.5rem 0;

}
a {
    text-decoration: none;
}
.aboutblog {
    font-size: 1.1rem ;
}
.abt {
    width : 50% 
}
.abtdetails {
    display: flex;
    flex-wrap : wrap;
}
.details {
    flex-wrap: nowrap;
    width: 40%;
    margin-bottom: 0.7rem ;
    margin-right: 2.5rem;
}
.abtdetail {
    font-weight: 600;
}
.abtdata {
    
    margin-bottom: 1rem;
}
.skilltitle {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem ;
}
.soft {
    margin-top: 5rem;
}
.skillicon {
    margin-right: 1rem;
    font-size: 2.5rem ;
    cursor : pointer ;
}
.softskills {
    display: flex;
    flex-wrap: wrap;
}
.softskill {
    border: 0.1rem solid var(--themecolor);
    padding : 0.6rem 1.2rem ;
    background-color: var(--themecolor);
    border-radius: 3rem;
    margin : 0.5rem 1rem 1.1rem 0 ;
    
    cursor : pointer ;
}
.qualification {
    
    margin : 3rem 0 ;
    
    display: flex;
    flex-wrap: wrap;
}
.quali {
    padding : 1.5rem ;
    margin : 1.5rem 1.5rem ;
    border : 0.1rem solid var(--themecolor) ;
    background: #000;
    box-shadow: 0 0 0.3rem var(--textwhite);
    border-radius: 1.5rem;
    min-width: 35% ;
}
.institute {
    font-size: 1.2rem ;
    font-weight: 600;
}
.branch::before {
    content: "(";
}
.branch::after {
    content: ")";
}
.grade {
    margin-top : 1rem ; 
}