#home {
    background: rgba(0,0,0,0.9);
    color: #fff;
    height : 31.89rem ;
    height: 100% ;
    padding :  7rem 5rem ;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 1.1rem ;
}
.hometitle {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem ;
}
.colo {
    color: #d4aa8c;
}
.naam:hover {
    font-family: "Lucida Console";
    font-size: 1.75rem;
}

.homeblog {
    margin-top: 2rem ;
}
.btn {
    border-radius: 2rem 2rem;
    padding : 0.4rem 1rem ;
    color : #d4aa8c ;
    border : 0.1rem solid #d4aa8c ;
    font-size: 1.2rem;
    margin-top: 5.2rem ;
    background : transparent ;
    cursor : pointer ;
}
.btn:hover {
    padding : 0.5rem 1.1rem ;
    box-shadow: 0 0 0.5rem #fff;
}
.fill {
    background: #d4aa8c;
    color : #fff;
    margin-right: 1rem ;
}
.profile {
   border-radius: 0.5rem ;
    border: 1px solid #000;
    box-shadow: inset 0 0 1rem white;
    padding : 2.8rem ;
    margin-left: 2.5rem ;
    margin-right: 2.3rem;
    cursor : pointer ;
    transition: box-shadow 3s;
}
.profile:hover {
    border-style: groove;
    box-shadow: inset 0 0 5rem #fff;
}
.profileimg {
    background: #000;
    width : 15rem  ;
}